<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDG2001 Assignment 1</title>
</head>
<body>
    <h1>File Upload Form</h1>
	<form action="http://127.0.0.1:3000/contacts" method="POST" enctype="multipart/form-data" accept=".vcf">
		<p><input type="file" name="file" id="file"></p>
		<p><input type="submit" value="Upload" onclick="uploadFile()"></p>
	</form>

<!-- <script src="./form.js"></script> -->
</body>
</html>